<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout_client}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"> tos
</head>

<body class="d-flex flex-column">
    <main layout:fragment="content" class="d-flex mx-auto">
        <!-- Mensajes  -->
        <!-- <div class="message" th:if="${param.error}">
            Invalid Username or Password
            </div>
            <div class="message" th:if="${param.logout}">
            Logout Successfuly
            </div> -->

        <form class="d-flex flex-column justify-content-center flex-grow-2 py-3 py-md-0 px-4 px-md-6"
            action="/userLogin" method="post">
            <h1 class="mb-3" th:text="#{login}">Create task</h1>

            <div class="type d-flex justify-content-between align-items-center py-1 align-items-center py-1">
                <label for="type" class="me-2" th:text="#{type}">Type</label>
                <select th:field="*{type}" name="type" id="type" class="px-1 rounded-1">
                    <option value="task" th:text="#{task}">Task</option>
                    <option value="event" th:text="#{event}">Event</option>
                </select>
            </div>

            <div class="radios">
                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="cleaning" data-category="environmental" data-type="event" >
                    <label class="form-check-label" for="cleaning">Environmental cleaning</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="reforestation" data-category="environmental" data-type="event">
                    <label class="form-check-label" for="reforestation">Reforestation</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="tutoring" data-category="educative" data-type="task" required>
                    <label class="form-check-label" for="tutoring">Private tutoring</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="sportsevent" data-category="sports" data-type="task">
                    <label class="form-check-label" for="sportsevent">Helping out at a sports event</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="lt10" data-category="social" data-type="task">
                    <label class="form-check-label" for="lt10">Simple purchase (&lt;=10€)</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="gt10" data-category="social" data-type="task">
                    <label class="form-check-label" for="gt10">Elaborate purchase (&gt;10€)</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="walk" data-category="social" data-type="task">
                    <label class="form-check-label" for="walk">Going for a walk</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="hangout" data-category="social" data-type="task">
                    <label class="form-check-label" for="hangout">Hanging out</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="cooking" data-category="social" data-type="task">
                    <label class="form-check-label" for="cooking">Cooking</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="pet" data-category="social" data-type="task">
                    <label class="form-check-label" for="pet">Walking pets</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-2" type="radio" name="radio" id="doctor" data-category="social" data-type="task">
                    <label class="form-check-label" for="doctor">Accompany elderly people to the doctor</label>
                </div>
            </div>
        </form>
    </main>
</body>

</html>