<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout_admin}">

    <head>
        <link rel="stylesheet" href="/css/newsItem_admin.css">
    </head>

    <body class="d-flex flex-column">
        <main layout:fragment="content" class="d-flex mx-auto">
            <table class="news_list_table table table-striped table-bordered table-hover" th:if="newsItemList != null">
				<thead>
					<tr>
						<td th:text="#{newsItemID}">News Item ID</td>
						<td th:text="#{newsItem_title}">News Item Title</td>
						<td th:text="#{newsItem_body}">News Item Body</td>
						<!-- <td>News Item Date</td> -->
						<td th:text="#{actions}">Actions</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="newsItem,iter : ${newsItemList}">
						<td th:text="${newsItem.newsItemID}">NewsItem ID</td>
						<td th:text="${newsItem.title}">NewsItem Title</td>
						<td th:utext="${newsItem.body}">NewsItem Body</td>
						<!-- <td th:text="${newsItem.createdAt}">NewsItem Date</td> -->
						<td>
							<a class="btn btn-primary" th:href="@{'/admin-view/newsItem/' + ${newsItem.newsItemID} + '/edit'}">Edit</a>
							<a class="btn btn-danger" th:href="@{'/admin-view/newsItem/' + ${newsItem.newsItemID} + '/delete'}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
        </main>
    </body>
</html>