header, footer {
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header {
    background: #ccc;
}

footer {
    background: var(--footer-bg);
    position: fixed;
    bottom: 0;
    z-index: 50; 
}

footer a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer a > * {
    margin: 0;
    padding: 3px;
    transition: color .3s;
}

footer a:not(.active):hover > * {
    color: var(--font-hover);
}

.active > * {
    color: var(--selected);
}

@media screen and (min-width: 992px) {
    footer {
        order: 10;
        position: static;
    }
}