:root {
    /* General */
    --body-bg: #FFF;
    --card-bg: #F7F7F7;
    --card-bg-hover: #CCC;
    --footer-bg: #A3BCE1;
    
    --link: #05F;
    --font: #172B4D;
    
    --link-hover: #27F;
    --font-hover: #325da8;

    --button: #CCC;
    --button-hover: #BBB;
    
    --selected: #4078d8;
    --shadow: #888;
    --gold: #c78f15;

    /* Categorías */
    --educative: #48e;
    --environmental: #4A4;
    --sports: #F84;
    --social: #E9E;

    --educative-hover: #27F;
    --environmental-hover: #3B3;
    --sports-hover: #FA0;
    --social-hover: #E6E;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--font);
    order: 50;
}

header {
    order: 0;
}

body {
    display: flex;
    flex-flow: column;
    background: var(--body-bg);
    height: 100vh;
}

a {
    text-decoration: none;
    transition: color .3s;
}

a:hover {
    color: var(--font-hover);
}

button {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}

hr {
    height: 1.5px;
    box-sizing: border-box;
    border: none;
}

i {
    margin-right: 5px;
}

.pfp {
    border-radius: 50%;
    background-image: url("../img/blank-pfp.svg");
    background-size: cover;
    position: absolute;
}

/* Educative */

.educative {
    color: var(--educative);
}

.educativeBg {
    background: var(--educative);
    transition: background .3s;
}

/* Environmental */

.environmental {
    color: var(--environmental);
}

.environmentalBg {
    background: var(--environmental);
    transition: background .3s;
}

/* Sports */

.sports {
    color: var(--sports);
}

.sportsBg {
    background: var(--sports);
    transition: background .3s;
}

/* Social */

.social {
    color: var(--social);
}

.socialBg {
    background: var(--social);
    transition: background .3s;
}