/* Estructura */

main {
    padding: 15px;
}

.card {
    background: var(--card-bg);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 3px 5px var(--shadow);
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    position: relative;
}

.card:last-child {
    margin-bottom: 63px;
}

.title {
    width: 100%;
    margin: -10px;
    font-size: 16px;
    font-weight: 700;
    padding: 13px;
    color: var(--body-bg);
    margin-bottom: 5px;
}

.pfp {
    width: 40px;
    height: 40px;
    right: 15px;
    top: 24px;
    transition: filter .3s;
}

.pfp:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.description {
    padding: 10px 0;
    text-align: justify;
}

.link {
    color: var(--link);
    transition: none;
}

.link:hover {
    color: var(--link);
    text-decoration: underline;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
}

.address {
    display: block;
    padding: 10px 0;
}

button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: var(--button);
    transition: background .3s;
}

button:hover {
    background: var(--button-hover);
    cursor: pointer;
}

.educativeBorder {
    border: 1.5px solid var(--educative);
}

.environmentalBorder {
    border: 1.5px solid var(--environmental);
}

.sportsBorder {
    border: 1.5px solid var(--sports);
}

/* Social */

.socialBg {
    background: var(--social);
    transition: background .3s;
}

.socialBorder {
    border: 1.5px solid var(--social);
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .card, .card:last-child {
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}