<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<main th:fragment="index_content">
    <section id="myCarousel" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="../images/icono.png" alt="Elkar-Ekin logo" class="car-logo position-absolute">
            </div>

            <div class="carousel-item img ods-3">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="item-child d-flex align-items-center px-5">
                        <img src="../images/ods-3.jpg" alt="SDG 3" class="ods3 rounded">
                        <h1 class="heading" th:text="#{health}">We care about your health.</h1>
                    </div>
                </div>              
            </div>

            <div class="carousel-item img ods-4-10">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="item-child dark d-flex align-items-center px-5 py-2">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <img src="../images/ods-4.jpg" alt="SDG 4" class="ods4 rounded mb-1">
                            <img src="../images/ods-10.jpg" alt="SDG 10" class="ods10 rounded mt-1">
                        </div>
                        <h1 class="heading" th:text="#{equality}">We strive to achieve equality.</h1>
                    </div>
                </div>
            </div>

            <div class="carousel-item img ods-13-15">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="item-child dark d-flex align-items-center px-5 py-2">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <img src="../images/ods-13.jpg" alt="SDG 13" class="ods13 rounded mb-1">
                            <img src="../images/ods-15.jpg" alt="SDG 15" class="ods15 rounded mt-1">
                        </div>
                        <h1 class="heading" th:text="#{world}">We protect the world.</h1>
                    </div>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <i class="fa-solid fa-chevron-right"></i>
        </button>

    </section>

    <section id="statistics" class="d-flex justify-content-around align-items-center mt-3 px-3 py-4">
        <div class="d-flex flex-column text-center">
            <h1>250+</h1>
            <h1 th:text="#{volunteer_amount}">volunteers</h1>
        </div>
        <div class="d-flex flex-column text-center">
            <h1>1000+</h1>
            <h1 th:text="#{people_helped}">people helped</h1>
        </div>
    </section>

    <hr class="border-0 w-100">

    <section id="latest" class="p-3 pt-4">
        <h1 class="mb-3" th:text="#{latest}">Latest News</h1>
        
        <div class="card-container d-flex mb-3">
            <div class="card my-3 mx-2" th:each="newsItem,iter : ${newsItemList}">
                <h2 th:text="${newsItem.title}" class="title">TITLE HEADING</h2>
                <!-- <h2 th:text="${newsItem.createdAt}">Title description, Dec 7,2017</h2> -->
                <div class="body">
                    <p th:utext="${newsItem.body}"></p>
                </div>
                <a th:href="@{'/newsItem/' + ${newsItem.newsItemID}}" class="load link text-decoration-none">Load more</a>
            </div>
        </div>
        
        <a href="/newsItem/list" th:text="#{see_all}" class="link text-decoration-none">View all the news here!</a>
    </section>

    <script src="/assets/bootstrap.js"></script>
    <script src="/js/cut_content.js"></script>             
    <script src="/js/newsItemList.js"></script> 
</main>
</html>