<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="menu_bar d-flex bottom-0 z-2 justify-content-around w-100 py-2 order-lg-last" th:fragment="nav">
    <a href="/volunteer-view/index" class="d-flex flex-column text-center text-decoration-none" th:classappend="${currentPage == 'index'} ? 'active' : ''">
        <i class="fa-solid fa-home p-1"></i>
        <span class="d-none d-md-block m-0" th:text="#{home}">Home</span>
    </a>

    <a href="/volunteer-view/task/list" class="d-flex flex-column text-decoration-none" th:classappend="${currentPage == 'taskList'} ? 'active' : ' '">
        <i class="fa-solid fa-handshake-angle text-center p-1"></i>
        <span class="d-none d-md-block m-0" th:text="#{tasks}">Tasks</span>
    </a>

    <a href="/volunteer-view/saved_jobs" class="d-flex flex-column text-decoration-none">
        <i class="fa-solid fa-bookmark text-center p-1"></i>
        <span class="d-none d-md-block m-0" th:text="#{saved_tasks}">Saved tasks</span>
    </a>

    <a href="/volunteer-view/signedUp" class="d-flex flex-column text-decoration-none" th:classappend="${currentPage == 'signedUp'} ? 'active' : ' '">
        <i class="fa-solid fa-file-signature text-center p-1"></i>
        <span class="d-none d-md-block m-0" th:text="#{my_tasks}">My tasks</span>
    </a>

    <a href="/volunteer-view/chat" class="d-flex flex-column text-decoration-none" th:classappend="${currentPage == 'chat'} ? 'active' : ' '">
        <i class="fa-solid fa-comments text-center p-1"></i>
        <span class="d-none d-md-block m-0" th:text="#{chat}">Chat</span>
    </a>

    <a href="/volunteer-view/user" class="d-flex flex-column text-decoration-none" th:classappend="${currentPage == 'user'} ? 'active' : ' '">
        <i class="fa-solid fa-user text-center p-1"></i>
        <span class="d-none d-md-block m-0" th:text="#{profile}">Profile</span>
    </a>
</nav>
</html>