<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<main th:fragment="user_view">
    <div class="position-relative p-3">
        <div><div class="banner"></div></div>

        <form enctype="multipart/form-data" class="d-flex flex-column justify-content-center flex-grow-2 py-3 py-md-0" th:action="${user.role} == 'C' ? @{/client-view/user/update} : @{/volunteer-view/user/update}" method="post" th:object="${userDto}">         
            <div>
                <div class="pic rounded-circle position-absolute"
                th:style="'background-image: url(' + (${user.imagePath} != null ? '/img/' + ${user.imagePath} : '/images/blank-pfp.svg') + ');'">
                    <input name="imageFile" type="file" class="file" id="file" accept="image/*">
                </div>
            </div>

            <h1 class="name big mt-3" th:text="${user.name} + ' ' + ${user.surname1} + ' ' + ${user.surname2}">Name Surname</h1>

            <h2 class="handle" th:text="'@' + ${user.username}">@username</h2>

            <input name="description" class="biography py-2 my-2 border-0" type="text" autocomplete="off" th:value="${user.description}" disabled>
                       
            <div class="identity d-flex py-1">
                <i class="fa-solid fa-circle-user me-1"></i>
                <div th:switch="${user.role}" class="role">
                    <div th:case="'C'"><p th:text="#{client}">Client</p></div>
                    <div th:case="'V'"><p th:text="#{volunteer}">Volunteer</p></div>
                    <div th:case="'A'"><p th:text="#{admin}">Administrator</p></div>
                    <div th:case="*"><p th:text="#{c&a}">Client & Volunteer</p></div>
                </div>
            </div>

            <div class="stats d-flex pt-1 pb-3">
                <i class="fa-solid fa-award me-1"></i>
                <div class="d-flex">
                    <p class="me-1" th:text="${user.role == 'V'} ? #{volunteer_times} : #{upload_times}">This user has volunteered this many times:</p>
                    <b th:text="${amount}">15</b>
                </div>
            </div>

            <div class="d-flex" th:if="${guest != null}">
                <button class="edit border-0 rounded-1 py-1 px-2 me-1" th:if="${guest.name} == ${user.name}" th:text="#{edit}">Edit profile</button>
                <button type="submit" class="apply d-none border-0 rounded-1 py-1 px-2 me-1" th:if="${guest.name} == ${user.name}" th:text="#{apply}">Apply changes</button>
            </div>
        </form>
    </div>

    <hr class="border-0 m-auto">

    <div id="history" class="py-2 px-3">

        <h1 class="big mb-3" th:text="#{history}">History</h1>

        <div class="history d-flex py-2 mb-3">

            <div class="card overflow-hidden p-2 mx-2 mb-1" th:each="task,iter : ${taskList}"  th:classappend="${task.taskDefaultID.category.name} + 'Border'">
				<div class="title mb-1" th:text="#{${task.taskDefaultID.name}}" th:classappend="${task.taskDefaultID.category.name} + 'Bg'">Task Name</div>
				<i class="date" th:text="${task.date.year} + '/' + ${task.date.monthValue} + '/' + ${task.date.dayOfMonth} + ' ' + ${task.startTime} + ' - ' + ${task.endTime}">Task Date</i>
				<p class="description py-2" th:text="${task.description}">Task Description</p>
				<div class="d-flex align-items-center">
					<i class="fa-regular fa-circle-check me-1" th:classappend="${task.taskDefaultID.category.name}"></i>
					<p th:text="#{${task.taskDefaultID.category.name}}">Category</p>
				</div>
				<i class="d-block py-2" th:text="${task.location.direction}">Task Location</i>
			</div>

        </div>

        <a th:href="${user.role} == 'C' ? @{/client-view/history} : @{/volunteer-view/history}" class="btnLink button p-2 text-decoration-none rounded" th:text="#{details}" th:if="${guest.name != 'admin'}">See more details</a>
    </div>
    <script src="/js/header_logout.js"></script>
	<script src="/js/cut_content.js"></script>
    <script src="/js/user.js"></script>
</main>
</html>