<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web</title>
        <link rel="icon" type="image/x-icon" href="/img/mondragon.ico">
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/volunteering_list.css">
        <link rel="stylesheet" type="text/css" href="/css/filters.css">
        <link rel="stylesheet" type="text/css" href="/css/header_nav_lang.css">
        <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7ec78ffc94.js" crossorigin="anonymous"></script>
    </head>

    <body class="d-flex flex-column">
        <header class="d-flex justify-content-between align-items-center w-100 py-2 px-3 px-md-4">
            <span>logo</span>
            <div>
                <button class="signup rounded border-0 me-1">Sign up</button>
                <button class="login rounded border-0">Log in</button>
            </div>
        </header>

        <div class="language d-flex fixed-top justify-content-end py-2 px-3">
            <a class="text-decoration-none me-2">EU</a>
            <a class="text-decoration-none">ES</a>
            <a class="text-decoration-none ms-2">EN</a>
        </div>

        <main class="p-3">
            <div class="d-md-grid ">
                <div class="card environmentalBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title environmentalBg w-100 mb-1">Reforestation</div>
                    <div class="pfp environmentalBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check environmental me-1"></i>
                        <p>Enviromental event</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>                   
                </div>
    
                <div class="card educativeBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title educativeBg w-100 mb-1">Private tutoring</div>
                    <div class="pfp educativeBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check educative me-1"></i>
                        <p>Educative task</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card sportsBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title sportsBg w-100 mb-1">Help out at a sports event</div>
                    <div class="pfp sportsBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check sports me-1"></i>
                        <p>Sports event</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card socialBorder position-relative overflow-hidden m-md-0 p-2">
                    <div class="title socialBg w-100 mb-1">Purchase lower than 10€</div>
                    <div class="pfp socialBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check social me-1"></i>
                        <p>Social task</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card environmentalBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title environmentalBg w-100 mb-1">Reforestation</div>
                    <div class="pfp environmentalBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check environmental me-1"></i>
                        <p>Enviromental event</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card educativeBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title educativeBg w-100 mb-1">Private tutoring</div>
                    <div class="pfp educativeBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check educative me-1"></i>
                        <p>Educative task</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card sportsBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title sportsBg w-100 mb-1">Help out at a sports event</div>
                    <div class="pfp sportsBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check sports me-1"></i>
                        <p>Sports event</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card socialBorder position-relative overflow-hidden m-md-0 p-2">
                    <div class="title socialBg w-100 mb-1">Purchase lower than 10€</div>
                    <div class="pfp socialBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check social me-1"></i>
                        <p>Social task</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card environmentalBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title environmentalBg w-100 mb-1">Reforestation</div>
                    <div class="pfp environmentalBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check environmental me-1"></i>
                        <p>Enviromental event</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card educativeBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title educativeBg w-100 mb-1">Private tutoring</div>
                    <div class="pfp educativeBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check educative me-1"></i>
                        <p>Educative task</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card sportsBorder position-relative overflow-hidden mb-2 m-md-0 p-2">
                    <div class="title sportsBg w-100 mb-1">Help out at a sports event</div>
                    <div class="pfp sportsBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check sports me-1"></i>
                        <p>Sports event</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>  
                </div>
    
                <div class="card socialBorder position-relative overflow-hidden m-md-0 p-2">
                    <div class="title socialBg w-100 mb-1">Purchase lower than 10€</div>
                    <div class="pfp socialBorder rounded-circle position-absolute"></div>
                    <i class="date"><b>Date: </b>08/05/2024 - 19:30</i>
                    <p class="description py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis dolorem fugiat laudantium eligendi quo unde tempora, velit libero distinctio suscipit enim quibusdam atque molestias aliquam iusto est natus nostrum?</p>
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-circle-check social me-1"></i>
                        <p>Social task</p>
                    </div>
                    <i class="d-block py-2"><b>Site: </b>Mondragon Unibertsitatea</i>
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-bookmark bookmark text-center position-absolute py-1 px-2"></i>
                        <button class="position-absolute border-0 rounded-1 py-1 px-2">Sign up</button>
                    </div>
                </div>
            </div>
        </main>

        <aside>
            <div class="roundedFixedBtn p-3">
                <i class="fa-solid fa-sliders fixedButton ms-1"></i>
            </div>

            <div class="filters hidden overflow-auto" id="filters">
                <form class="d-flex flex-column p-3">
                    <div class="d-flex justify-content-between align-items-center py-1 align-items-center py-1">
                        <label for="choose-category">Category</label>
                        <select id="choose-category" class="px-1 rounded-1 border-0">
                            <option value="all">All</option>
                            <option value="environmental">Environmental</option>
                            <option value="educative">Educative</option>
                            <option value="sports">Sports</option>
                            <option value="social">Social</option>
                        </select>
                    </div>

                    <hr class="my-2 mx-auto border-0">

                    <div class="d-flex justify-content-between align-items-center py-1 align-items-center py-1">
                        <label for="choose-location">Location</label>
                        <select id="choose-location" class="px-1 rounded-1 border-0">
                            <option value="all">All</option>
                            <option value="environmental">Arrasate</option>
                            <option value="educative">Vitoria-Gasteiz</option>
                            <option value="sports">Donostia</option>
                            <option value="social">Bilbao</option>
                        </select>
                    </div>
                    
                    <hr class="my-2 mx-auto border-0">

                    <div class="d-flex justify-content-between align-items-center py-1 align-items-center py-1">
                        <label for="choose-day">Day</label>
                        <input type="date" id="choose-day" class="px-1 rounded-1 border-0">
                    </div>                    

                    <div class="d-flex justify-content-between align-items-center py-1 align-items-center py-1">
                        <label for="choose-start">Start time</label>
                        <input type="time" id="choose-start" class="px-1 rounded-1 border-0">
                    </div>                    

                    <div class="d-flex justify-content-between align-items-center py-1 align-items-center py-1">
                        <label for="choose-end">End time</label>
                        <input type="time" id="choose-end" class="px-1 rounded-1 border-0">
                    </div>

                    <hr class="my-2 mx-auto border-0">
                    
                    <div class="d-flex flex-column justify-content-between align-items-start py-1 m-0">
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="cleaning" id="cleaning" data-category="environmental" class="me-2">
                            <label for="cleaning">Environmental cleaning</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="reforestation" id="reforestation" data-category="environmental" class="me-2">
                            <label for="reforestation">Reforestation</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="tutoring" id="tutoring" data-category="educative" class="me-2">
                            <label for="tutoring">Private tutoring</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="sportsevent" id="sportsevent" data-category="sports" class="me-2">
                            <label for="sportsevent">Helping out at a sports event</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="lt10" id="lt10" data-category="social" class="me-2">
                            <label for="lt10">Simple purchase (&lt;=10€)</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="gt10" id="gt10" data-category="social" class="me-2">
                            <label for="gt10">Elaborate purchase (&gt;10€)</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="walk" id="walk" data-category="social" class="me-2">
                            <label for="walk">Going for a walk</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="hangout" id="hangout" data-category="social" class="me-2">
                            <label for="hangout">Hanging out</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="cooking" id="cooking" data-category="social" class="me-2">
                            <label for="cooking">Cooking</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="pet" id="pet" data-category="social" class="me-2">
                            <label for="pet">Walking pets</label>
                        </div>
                        <div class="d-flex justify-content-between py-1">
                            <input type="checkbox" name="doctor" id="doctor" data-category="social" class="me-2">
                            <label for="doctor">Accompany elderly people to the doctor</label>
                        </div>
                    </div>

                    <hr class="my-2 mx-auto border-0">

                    <input type="submit" value="Sort and filter" class="w-100 p-2 rounded-1 border-0">
                </form>
            </div>
        </aside>

        <footer class="d-flex bottom-0 z-2 justify-content-around w-100 py-2 order-lg-last">
            <a href="index.html" class="d-flex flex-column text-center text-decoration-none">
                <i class="fa-solid fa-home p-1"></i>
                <span class="d-none d-md-block m-0">Home</span>
            </a>

            <a href="#" class="active d-flex flex-column text-decoration-none">
                <i class="fa-solid fa-handshake-angle text-center p-1"></i>
                <span class="d-none d-md-block m-0">Volunteering</span>
            </a>

            <a href="saved_jobs.html" class="d-flex flex-column text-decoration-none">
                <i class="fa-solid fa-bookmark text-center p-1"></i>
                <span class="d-none d-md-block m-0">Saved jobs</span>
            </a>

            <a href="signed_up.html" class="d-flex flex-column text-decoration-none">
                <i class="fa-solid fa-file-signature text-center p-1"></i>
                <span class="d-none d-md-block m-0">Signed up</span>
            </a>

            <a href="chat.html" class="d-flex flex-column text-decoration-none">
                <i class="fa-solid fa-comments text-center p-1"></i>
                <span class="d-none d-md-block m-0">Chat</span>
            </a>

            <a href="user.html" class="d-flex flex-column text-decoration-none">
                <i class="fa-solid fa-user text-center p-1"></i>
                <span class="d-none d-md-block m-0">Profile</span>
            </a>
        </footer>

        <script src="js/header.js"></script>
        <script src="js/volunteering_list.js"></script>
        <script src="js/filters.js"></script>
    </body>
</html>