main {
    height: calc(100vh - var(--h-languages) - var(--h-header) - var(--h-menu_bar-small));
    margin-top: calc(var(--h-languages) + var(--h-header));
    overflow: auto;
}

#myCarousel {
    background: linear-gradient(to bottom, var(--bg-sec-darker), var(--bg-sec-lighter), var(--bg-primary));
    box-shadow: 0 5px 10px var(--bg-sec-darker);
}

.carousel-control-prev i, .carousel-control-next i {
    font-size: 15px;
}

#myCarousel, .carousel-inner, .carousel-item {
    height: calc(80vh - var(--h-languages) - var(--h-header) - var(--h-menu_bar-small));
}

img {
    width: 30%;
    margin-right: 10px;
}

#statistics {
    background: linear-gradient(to bottom, var(--bg-primary), var(--bg-menu_bar));
}

#statistics div h1 {
    font-family: Inter;
}

#statistics div h1:first-child {
    font-size: 20px;
    font-weight: 900;
    color: var(--gold);
}

#statistics div h1:last-child {
    font-size: 16px;
    font-weight: 700;
}

#latest {
    background: var(--bg-menu_bar);
}

#latest h1 {
    font-size: 20px;
    font-weight: 900;
}

.card-container {
    overflow-x: auto;
}

.card {
    min-width: 250px;
}

.load {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

h2, .body {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    main {
        height: calc(100vh - var(--h-languages) - var(--h-header) - var(--h-menu_bar-big));
    }

    .carousel-control-prev i, .carousel-control-next i {
        font-size: 20px;
    }

    #myCarousel, .carousel-inner, .carousel-item {
        height: calc(60vh - var(--h-languages) - var(--h-header) - var(--h-menu_bar-small));
    }

    .carousel-caption {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }
    
    .carousel-caption div {
        flex-flow: column;
        width: 50%;
    }

    img {
        margin: 0 0 5px 0;
        width: 45%;
    }

    #statistics div h1:first-child {
        font-size: 29px;
    }
    
    #statistics div h1:last-child {
        font-size: 25px;
    }

    #latest h1 {
        font-size: 29px;
    }

    .card {
        min-width: 300px;
    }
}

@media screen and (min-width: 992px) {
    main {
        margin-top: calc(var(--h-languages) + var(--h-header) + var(--h-menu_bar-big));
    }

    #myCarousel, .carousel-inner, .carousel-item {
        height: calc(75vh - var(--h-languages) - var(--h-header) - var(--h-menu_bar-small));
    }

    #statistics div h1:first-child {
        font-size: 35px;
    }
    
    #statistics div h1:last-child {
        font-size: 31px;
    }

    #latest h1 {
        font-size: 25px;
    }
}