body {
    background: var(--bg-sec-lighter);
}

main {
    background: var(--bg-primary);
    flex-flow: column;
    height: calc(100vh - var(--h-languages) - var(--h-header) - var(--h-menu_bar-small));
    margin-top: calc(var(--h-languages) + var(--h-header));
    width: 100%;
}

div button {
    background: var(--bg-menu_bar);
}

h1 {
    font-size: 30px;
}

form .form-control {
    background: var(--bg-sec-lighter);
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    main {
        height: calc(100vh - var(--h-languages) - var(--h-header) - var(  --h-menu_bar-big));
        flex-flow: row;
        width: 60vw;
    }
    
    .gender, .birthdate {
        width: 50%;
    }

    form {
        height: calc(100vh - var(--h-languages) - var(--h-header) - var(  --h-menu_bar-big));
        box-sizing: border-box;
        overflow-y: auto;
        margin-bottom: var(--h-menu_bar-big);
    }
}

@media screen and (min-width: 992px) {
    main {
        height: calc(100vh - var(--h-languages) - var(--h-menu_bar-big) - var(--h-header));
        margin-bottom: var(--h-header);
        margin-top: calc(var(--h-languages) + var(--h-menu_bar-big));
        width: 40vw;
    }

    header {
        z-index: 100;
    }
}