main {
    background: var(--bg-primary);
    height: calc(100vh - var(--h-languages) - var(--h-header) - var(--h-menu_bar-small));
    margin-top: calc(var(--h-languages) + var(--h-header));
    width: 100%;
}

.card {
    border: 1px solid #ddd; /* Border for each card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    background-color: #fff; /* Background color for each card */
    padding: 20px; /* Padding inside each card */
}

h2, p {
    margin: 0 0 10px 0; /* Adjust margin as needed */
}

@media screen and (min-width: 768px) {
    main {
        height: calc(100vh - var(--h-languages) - var(--h-header) - var(  --h-menu_bar-big));
    }
}

@media screen and (min-width: 992px) {
    main {
        height: calc(100vh - var(--h-languages) - var(--h-menu_bar-big) - var(--h-header));
        margin-bottom: var(--h-header);
        margin-top: calc(var(--h-languages) + var(--h-menu_bar-big));
    }
}