<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!-- Page icon -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/mondragon.ico}">
    <!-- CSS files -->    
    <title th:fragment="title">Elkar-Ekin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_nav_lang.css}">
    <!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <!-- Javascript -->
    <script src="https://kit.fontawesome.com/7ec78ffc94.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Language bar -->
    <div class="language d-flex fixed-top justify-content-end py-2 px-3" th:fragment="language_div">
        <a href="/locale/change?lang=eu" class="text-decoration-none me-2">EU</a>
        <a href="/locale/change?lang=es" class="text-decoration-none">ES</a>
        <a href="/locale/change?lang=en" class="text-decoration-none ms-2">EN</a>
    </div>
    <!-- Login/logout bar -->
    <header layout:fragment="loginLogoutBar">
        <p>Login bar will appear if the user is not logged in.</p>
    </header>
    <!-- Navigation menu bar -->
    <nav layout:fragment="menuBar">
        <p>The specific navigation will appear here</p>
    </nav>
    <!-- Errors -->
    <div class="error_div p-3 alert-danger" th:if="${error!=null}" th:fragment="error">
        <span th:text="#{${error}}">Errors will appear here.</span>
    </div>
    <!-- Main content -->
    <main layout:fragment="content">
        <p>Main content will appear here</p>
    </main>
</body>
</html>