<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout_main}">

    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    </head>

    <body class="d-flex flex-column">
        <main layout:fragment="content" class="d-flex mx-auto">
            
            <form class="d-flex flex-column justify-content-center flex-grow-2 py-3 py-md-0 px-4 px-md-6" th:action="@{/forgotPassword}" method="post">
                <!-- Mensajes  -->
                <div th:if="${param.error}">
                    <span class="message error_div p-3 alert-danger" th:text="#{error.wrong_credentials}"></span>
                </div>

                <h1 class="mb-3" th:text="#{forgotPassword}">Forgot Password</h1>
            
                <div class="form-floating">
                    <input name="username" type="text" class="form-control rounded-top" placeholder="Username" id="username" autocomplete="off" required>
                    <label for="username" th:text="#{username}">Username</label>
                </div>

                <button type="submit" class="rounded-1 py-2 mt-3 w-100 border-0" th:text="#{sendEmail}">Send Email</button>
                <p th:text="${messagePassword}"></p>
                <p th:text="${errorPassword}"></p>
            </form>
        </main>
    </body>
</html>