<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Elkar-Ekin</title>
        <link rel="icon" type="image/x-icon" href="/images/mondragon.ico">
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/header_nav_lang.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7ec78ffc94.js" crossorigin="anonymous"></script>
    </head>

    <body class="d-flex flex-column">  
        <!-- Language bar -->
        <div th:replace="fragments/language.html :: language_div"></div>
        
        <!-- Login / logout bar -->
        <div th:if="${user == null}">
            <header  th:replace="fragments/header_login.html :: header_login"></header>
        </div>
        <div th:if="${user != null}" >
            <header th:replace="fragments/header_logout.html :: header_logout"></header>
        </div>

        <!-- Specific navigation bar -->
        <div th:switch="${user != null} ? ${user.role} : ''">
            <div th:case="'C'">
                <div th:replace="fragments/nav_client.html :: nav"></div>
            </div>
            <div th:case="'V'">
                <div th:replace="fragments/nav_volunteer.html :: nav"></div>
            </div>
            <div th:case="'A'">
                <div th:replace="fragments/nav_admin.html :: nav"></div>
            </div>
            <div th:case="*">
                <div th:replace="fragments/nav_main.html :: nav"></div>
            </div>
        </div>
        <a href="/newsItem/list" style="margin-top: 200px;">NewsItemList</a>
        <!-- <section class="content">
            <span>Ambietal</span>
            <span>Social</span>
            <span>Educativo</span>
            <span>Deportivo</span>
        </section> -->
    </body>
</html>
