<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base}">
<head>

</head>
<body>
    <!-- Login bar -->
    <header layout:fragment="loginLogoutBar" th:replace="~{fragments/header_login :: header_login}">
    </header>
    
    <!-- Main menuBar -->
    <div layout:fragment="menuBar" th:replace="~{fragments/nav_main :: nav}">
    </div>

    <!-- Main content -->
    <div layout:fragment="content">
        <!-- Page-specific content will be here -->
    </div>
</body>
</html>