<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Elkar-Ekin</title>
        <link rel="icon" type="image/x-icon" href="/images/mondragon.ico">
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/user.css">
        <link rel="stylesheet" type="text/css" href="/css/header_nav_lang.css">
        <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7ec78ffc94.js" crossorigin="anonymous"></script>
    </head>

    <body class="d-flex flex-column">
        <div th:replace="fragments/language.html :: language_div"></div>
    
        <header th:replace="fragments/header_logout.html :: header_logout"></header>

        <div th:switch="${user != null} ? ${user.role} : ''">
            <div th:case="'C'">
                <div th:replace="fragments/nav_client.html :: nav"></div>
            </div>
            <div th:case="'V'">
                <div th:replace="fragments/nav_volunteer.html :: nav"></div>
            </div>
            <div th:case="'A'">
                <div th:replace="fragments/nav_admin.html :: nav"></div>
            </div>
            <div th:case="*">
                <div th:replace="fragments/nav_main.html :: nav"></div>
            </div>
        </div>

        <main>
            <div class="position-relative p-3">
                <div><div class="banner"></div></div>

                <form class="d-flex flex-column justify-content-center flex-grow-2 py-3 py-md-0" th:action="@{/client-view/user/update}" method="post" role="form" th:object="${userDto}">             
                    <div><div class="pfp rounded-circle position-absolute"></div></div>
                    <h1 class="name title mt-3" th:text="${user.name} + ' ' + ${user.surname1} + ' ' + ${user.surname2}">Name Surname</h1>
                    <h2 class="handle" th:text="'@' + ${user.username}">@username</h2>

                    <!-- <input type="text" class="biography py-2 my-2" name="description" id="description" th:field="*{description}" disabled> -->

                    <input name="description" class="biography py-2 my-2 border-0" type="text" autocomplete="off" th:value="${user.description}" disabled/>
                                
                    <div class="identity d-flex py-1">
                        <i class="fa-solid fa-circle-user me-1"></i>
                        <div th:switch="${user.role}" class="role">
                            <div th:case="'C'"><p th:text="#{client}">Client</p></div>
                            <div th:case="'V'"><p th:text="#{volunteer}">Volunteer</p></div>
                            <div th:case="'A'"><p th:text="#{admin}">Administrator</p></div>
                            <div th:case="*"><p th:text="#{c&a}">Client & Volunteer</p></div>
                        </div>
                    </div>
                    <div class="stats d-flex pt-1 pb-3">
                        <i class="fa-solid fa-award me-1"></i>
                        <p>This user has volunteered <b>15</b> times!</p>
                    </div>
                    <div class="d-flex">
                        <button class="edit border-0 rounded-1 py-1 px-2 me-1" th:text="#{edit}">Edit profile</button>
                        <button type="submit" class="apply d-none border-0 rounded-1 py-1 px-2 me-1" th:text="#{apply}">Apply changes</button>
                        <button class="settings border-0 rounded-1 py-1 px-2" th:text="#{settings}">Settings</button>
                    </div>
                </form>
            </div>

            <hr class="border-0 m-auto">

            <div id="history" class="py-2 px-3">
                <h1 class="title" th:text="#{history}">History</h1>
                <div class="specific-stats py-2">
                    <div class="d-flex align-items-center py-1">
                        <i class="fa-regular fa-circle-check environmental me-1"></i>
                        <div class="d-flex">
                            <p class="me-1" th:text="#{statement_environmental}">I have volunteered in environmental tasks this many times:</p>
                            <b>4</b>
                        </div>
                    </div>
                    <div class="d-flex align-items-center py-1">
                        <i class="fa-regular fa-circle-check educative me-1"></i>
                        <div class="d-flex">
                            <p class="me-1" th:text="#{statement_educative}">I have volunteered in educative tasks this many times:</p>
                            <b>0</b>
                        </div>
                    </div>
                    <div class="d-flex align-items-center py-1">
                        <i class="fa-regular fa-circle-check sports me-1"></i>
                        <div class="d-flex">
                            <p class="me-1" th:text="#{statement_sports}">I have volunteered in sports tasks this many times:</p>
                            <b>3</b>
                        </div>
                    </div>
                    <div class="d-flex align-items-center py-1">
                        <i class="fa-regular fa-circle-check social me-1"></i>
                        <div class="d-flex">
                            <p class="me-1" th:text="#{statement_social}">I have volunteered in social tasks this many times:</p>
                            <b>8</b>
                        </div>
                    </div>
                </div>
                <a href="volunteering_list.html" class="link" th:text="#{details}">See more details here.</a>
            </div>
        </main>

        <!-- <main class="d-flex mx-auto">
            <form class="d-flex flex-column justify-content-center flex-grow-2 py-3 py-md-0 px-4 px-md-6" th:action="@{/client-view/user/update}"
                method="post" role="form" th:object="${userDto}">
                <h1 class="mt-3 mb-3" th:text="#{signup}">Sign up</h1>
    
                <div class="form-floating">
                    <input name="name" th:field="*{name}" type="text" class="form-control rounded-top"
                        placeholder="First name" id="name" autocomplete="off" required />
                    <label for="name" th:text="#{name}">Name</label>
                </div>
    
                <button type="submit" class="rounded-1 py-2 w-100 border-0 mb-5 mb-md-3" th:text="#{continue}">Continue</button>
            </form>
        </main> -->

        <script src="/js/header_logout.js"></script>
        <script src="/js/user.js"></script>
    </body>
</html>