<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout_main}">

    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
    </head>
    <!-- Main content -->
    <main layout:fragment="content" class="d-flex mx-auto">
        <form class="d-flex flex-column justify-content-center flex-grow-2 py-3 py-md-0 px-4 px-md-6" th:action="@{/registration/step1}"
        method="post" role="form" th:object="${userDto}">
            <!-- Errors  -->
            <div class="error_div" th:if="${error!=null}">
                <span th:text="#{${error}}">An error happened in the form.</span>
            </div>

            <h1 class="mt-3 mb-3" th:text="#{signup}">Sign up</h1>

            <div class="form-floating">
                <input name="name" th:field="*{name}" type="text" class="form-control rounded-top"
                    placeholder="First name" id="name" autocomplete="off" required />
                <label for="name" th:text="#{name}">Name</label>
            </div>

            <div class="d-flex mb-3">
                <div class="form-floating flex-grow-1">
                    <input th:field="*{surname1}" type="text" class="form-control rounded-bottom-left"
                        placeholder="First surname" id="surname1" autocomplete="off" required>
                    <label for="surname1" th:text="#{first_surname}">First surname</label>
                </div>
                <div class="form-floating flex-grow-1">
                    <input th:field="*{surname2}" type="text" class="form-control rounded-bottom-right"
                        placeholder="Second surname" id="surname2" autocomplete="off" required>
                    <label for="surname2" th:text="#{second_surname}">Second surname</label>
                </div>
            </div>

            <div class="d-flex mb-3">
                <div class="form-floating flex-grow-1">
                    <input name="email" th:field="*{email}" type="email" class="form-control rounded-start" placeholder="Email" id="email" autocomplete="off">
                    <label for="email" th:text="#{email}">Email</label>
                </div>
                <div class="form-floating flex-grow-1">
                    <input th:field="*{telephone}" type="number" class="form-control rounded-end"
                        placeholder="Phone number" id="phone" autocomplete="off">
                    <label for="phone" th:text="#{phone_number}">Phone number</label>
                </div>
            </div>
            <button type="submit" class="rounded-1 py-2 w-100 border-0 mb-5 mb-md-3" th:text="#{continue}">Continue</button>
        </form>
    </main>

    <script src="/js/signup.js"></script>
</html> 